#menu
{
	position: fixed;
	width: 100%;
	height: 45px;
	background: palevioletred;
	opacity: 1;
	direction: rtl;
}

.body{
	direction: rtl;
}

.all_sections{
	background-image: linear-gradient(to bottom, rgba(255,255,255,255), rgb(240, 155, 207));
	margin: auto;
	text-align: center;
}
#none{
	background-image: linear-gradient(to top, rgba(255,255,0,0), peachpuff);
	margin:auto;
	text-align: center;
}

#mainPic{
	border: 5px solid rgb(209, 183, 183);
	margin-top: 5%;
}

#qrcode{
	border: 5px solid rgb(209, 183, 183);
}

.fb-like{
	left:10%;
}

#video{
	margin: 10px auto 20px;
	display: block;
	border: 2px solid gray;
}

.nameOfWeb{
	float: left;
	font-size: 20px;
	color: peachpuff;
	padding-left: 10px;
}

#grannyLogo
{
	float: left;
	padding-left: 20px;
}

.topnav {
	background-color: #333; 
	overflow: hidden;
	text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	color: peachpuff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: peachpuff;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 0.75;
	font-family: Arial, Helvetica, sans-serif;
}

.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

  
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: palevioletred;
	background-color: #fcfcfa;
}

table{
	flex-direction: row;
	justify-content: space-between;
	display: block;
	color: palevioletred;
	font-size: 16px;
	margin: 0 auto;
	width: 50%;
	height:fit-content;
	padding: 14px 16px;
}

#qrcode{
	margin: 10px auto 20px;
	display: block;
	border: 4px dashed gray;
}

#contactMe{
	width: 40vh;
	height: fit-content;
	border: 2px dotted gray;
	margin: 10px auto 20px;
	display: block;
	flex-direction: column;
	text-align: center;
	border-radius: 10%;
}

#contactMe p{
	color: rgb(228, 64, 119);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

#contactMe input, textarea
{
	width: 100%;
	color: palevioletred;
	margin: 10px auto 20px;
	display: block;
	border-radius: 5%;
	font-family: Arial, Helvetica, sans-serif;
}

#contactMe #submit{
	width: 30%;
	color: grey;
	background-color: lightyellow;
	border-radius: 20%;
	font-family: Arial, Helvetica, sans-serif;
}

.QandA{
	border-color: transparent;
}

.QandA tr{
	border: 3px solid palevioletred;
	background-color: #fafae9;
	font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing:border-box}

.use-case{
	text-align: center;
	color: brown;
	font-family: Arial, Helvetica, sans-serif;
}

.multiple_cols:after{
	width: 50%;
	content: "";
	display: block;
	clear: both;	
}

.col{
	width: 55%;
	padding: 2px;
	opacity: 0.6;
	border: 2px groove rgb(182, 64, 64);
	margin: 1px auto 5px;
	display: block;
	border-style: inset;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
}

.col p{
	color: rgb(228, 72, 124);

}

.col:hover{
	width: 55%;
	padding: 2px;
	opacity: 1;
	border: 2px groove rgb(182, 64, 64);
	margin: 1px auto 5px;
	border-style: outset;
	display: block;
}

.headers{
	font-style: italic;
	color: palevioletred;
	text-decoration: underline;
	text-align: center;
	font-size: 17px;
}

div.gallery {
	/* margin: 5px; */
	margin: auto;
	border: 1px solid #ccc;
	/* float: left; */
	width: 300px;
	display: inline-table;
  }
  
  div.gallery img {
	float: left;
	width:  400px;
	height: 400px;
	object-fit: cover;
  }

  div.gallery img:hover {
    position:relative;
    /* top:-25px;
    left:-35px; */
    width:500px;
    height:500px;
    display:block;
    z-index:999;
}
  
  div.desc {
	padding: 20px;
	text-align: center;
	color:palevioletred;
	background-color: papayawhip;
	font-family: Arial, Helvetica, sans-serif;
  }

  #photos{
	  margin:auto;
	  display: block;
	  text-align: center;
  }